body {
  @apply bg-white text-black font-sans antialiased transition-colors;
  @apply dark:bg-black dark:text-yellow-500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.nuxt-icon svg {
  margin-bottom: 0 !important;
}